<html lang="en">

    <head data-id="__react-email-head">
        <link rel="preload" as="image" href="https://v3-service.choicedx.kr/image/DIOR-LOGO%201.png" />
        <link rel="preload" as="image" href="https://v3-service.choicedx.kr/image/DIOR-LOGO%201.png" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Confirm your user ID!</title>
    </head>
    <div
        id="__react-email-preview"
        style="display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0"
    >Confirm your user ID!<div
        > ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿</div>
    </div>

    <body data-id="__react-email-body">
        <table
            align="center"
            width="100%"
            data-id="__react-email-container"
            role="presentation"
            cellSpacing="0"
            cellPadding="0"
            border="0"
            style="max-width:42rem;margin-left:auto;margin-right:auto;width:100%;font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji"
        >
            <tbody>
                <tr style="width:100%">
                    <td>
                        <table
                            align="center"
                            width="100%"
                            data-id="react-email-section"
                            border="0"
                            cellPadding="0"
                            cellSpacing="0"
                            role="presentation"
                            style="background-color:rgb(241,245,249)"
                        >
                            <tbody>
                                <tr>
                                    <td>
                                        <h1
                                            style="padding:1rem;text-align:center;font-size:1.125rem;line-height:1.75rem;font-weight:700;text-transform:uppercase"
                                        >Confirm your user ID!</h1>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table
                            align="center"
                            width="100%"
                            data-id="react-email-section"
                            border="0"
                            cellPadding="0"
                            cellSpacing="0"
                            role="presentation"
                            style="margin-top:1rem;margin-bottom:1rem;border-width:1px;border-style:solid;border-color:rgb(241,245,249);font-size:0.875rem;line-height:1.25rem"
                        >
                            <tbody>
                                <tr>
                                    <td>
                                        <table
                                            align="center"
                                            width="100%"
                                            data-id="react-email-row"
                                            role="presentation"
                                            cellSpacing="0"
                                            cellPadding="0"
                                            border="0"
                                        >
                                            <tbody style="width:100%">
                                                <tr style="width:100%">
                                                    <td data-id="__react-email-column" style="padding:1rem">
                                                        <table
                                                            align="center"
                                                            width="100%"
                                                            data-id="react-email-section"
                                                            border="0"
                                                            cellPadding="0"
                                                            cellSpacing="0"
                                                            role="presentation"
                                                        >
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <p style="margin-bottom:1rem">Dear Customer,<br
                                                                            />
                                                                            Thank you for using
                                                                            <b>Choicetech Services</b>.</p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <p style="margin-bottom:1rem">You have created a new user ID
                                                            (email address) in our system. Please confirm your email to
                                                            start using the application:</p>
                                                        <table
                                                            align="center"
                                                            width="100%"
                                                            data-id="react-email-section"
                                                            border="0"
                                                            cellPadding="0"
                                                            cellSpacing="0"
                                                            role="presentation"
                                                        >
                                                            <tbody>
                                                                <tr>
                                                                    <td><a
                                                                            href="{{link}}"
                                                                            style="margin-left:auto;margin-right:auto;display:block;width:max-content;border-radius:0.125rem;border-width:1px;border-style:solid;border-color:rgb(203,213,225);background-color:rgb(241,245,249);padding-left:1.5rem;padding-right:1.5rem;padding-top:0.5rem;padding-bottom:0.5rem;font-size:1rem;line-height:1.5rem;font-weight:600;color:rgb(0,0,0);text-decoration-line:none"
                                                                        >Confirm</a></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table
                                                            align="center"
                                                            width="100%"
                                                            data-id="react-email-section"
                                                            border="0"
                                                            cellPadding="0"
                                                            cellSpacing="0"
                                                            role="presentation"
                                                        >
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <hr
                                                                            data-id="react-email-hr"
                                                                            style="width:100%;border:none;border-top:1px solid #eaeaea;margin-top:1rem;margin-bottom:1rem"
                                                                        />
                                                                        <p style="margin-bottom:0.5rem">This is a system
                                                                            generated email. Please do not reply. For
                                                                            questions and comments, contact us at
                                                                            <a
                                                                                href="https://www.choicetech.kr/"
                                                                                style="color:rgb(59,130,246);text-decoration-line:none"
                                                                            >support page</a>.</p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table
                            align="center"
                            width="100%"
                            data-id="react-email-section"
                            border="0"
                            cellPadding="0"
                            cellSpacing="0"
                            role="presentation"
                            style="margin-left:auto;margin-right:auto;width:100%;max-width:42rem;background-color:rgb(241,245,249);font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji"
                        >
                            <tbody>
                                <tr>
                                    <td>
                                        <table
                                            align="center"
                                            width="100%"
                                            data-id="react-email-section"
                                            border="0"
                                            cellPadding="0"
                                            cellSpacing="0"
                                            role="presentation"
                                            style="margin-bottom:1rem;width:100%;text-align:center"
                                        >
                                            <tbody>
                                                <tr>
                                                    <td><img
                                                            alt="Choicetech"
                                                            src="https://v3-service.choicedx.kr/image/DIOR-LOGO%201.png"
                                                            style="margin-left:auto;margin-right:auto;margin-top:1rem;max-width:125px"
                                                        /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h3
                                            style="margin:0px;text-align:center;font-size:0.875rem;line-height:1.25rem;font-weight:600"
                                        >Address</h3>
                                        <p
                                            style="margin:0px;margin-bottom:1rem;text-align:center;font-size:0.75rem;line-height:1rem"
                                        >A-1301-2, 184, Jungbu-daero, Giheung-gu, Yongin-si, Gyeonggi-do, Republic of
                                            Korea (17095)</p>
                                        <table style="margin-bottom:1rem;width:100%">
                                            <tbody>
                                                <tr>
                                                    <td style="width:50%">
                                                        <h3
                                                            style="margin:0px;text-align:center;font-size:0.875rem;line-height:1.25rem;font-weight:600"
                                                        >Email</h3>
                                                        <p
                                                            style="margin:0px;text-align:center;font-size:0.75rem;line-height:1rem"
                                                        >info@choicetech.kr</p>
                                                    </td>
                                                    <td style="width:50%">
                                                        <h3
                                                            style="margin:0px;text-align:center;font-size:0.875rem;line-height:1.25rem;font-weight:600"
                                                        >Phone</h3>
                                                        <p
                                                            style="margin:0px;text-align:center;font-size:0.75rem;line-height:1rem"
                                                        >+82-31-706-7950</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>

</html>